.product-count {
    font-size: small;
}

.product-price {
    font-weight: 600;
}

.product-price .price-des {
    font-size: small;
}

.logo {
    font-size: 28;
    font-weight: 300;
}

.nav-border {
    border-bottom: 1px solid #dee2e6;
}