<html lang="en">
<head>
    <%- include('../partials/head') %>
    
</head>
<body class="">

    <header >
        <%- include('../partials/header') %>
    </header>

    <main style="height: 600px;" >

    </main>

    <footer class="fixed-bottom border-top p-2 bg-light" style="height: 200px">
        <%- include('../partials/footer')%> 
    </footer>
    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/static/javascripts/main.js"></script>
</body>
</html>