<html lang="en">
<head>
    <%- include('../../partials/head') %>
    
</head>
<body class="">

    <header >
        <%- include('../../partials/admin/adminHeader') %>
    </header>

    <main style="height: 600px;" >
        Controlpage
    </main>

    <footer class="fixed-bottom border-top p-2 bg-light" style="height: 200px">
        <%- include('../../partials/footer')%> 
    </footer>
    
    <%- include('../../partials/scripts') %>
    
</body>
</html>