<html lang="en">
<head>
    <%- include('../../partials/head') %>
    
</head>
<body class="">

    <header >
        <%- include('../../partials/admin/adminHeader') %>
    </header>

    <main style="min-height: 600px;" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-3    " style="min-height: 600px;">
                    <ul class="nav flex-column  m-4 mt-4">
                        <li class="nav-item my-1 ">
                          <a class="nav-link active" href="/admin/product/add">Add </a>
                        </li>
                        <li class="nav-item my-1">
                          <a class="nav-link" href="#">Update</a>
                        </li>
                        <li class="nav-item my-1">
                          <a class="nav-link" href="#">link</a>
                        </li>
                        <li class="nav-item my-1">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
                <div class="col "></div>

            </div>
        </div>
    </main>

    <footer class="fixed-bottom border-top p-2 bg-light" style="height: 200px">
        <%- include('../../partials/footer')%> 
    </footer>
    
    <%- include('../../partials/scripts') %>
    
</body>
</html>